<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>&#xD;
			CFBundleDevelopmentRegion&#xD;
		</key>
	<string>&#xD;
			en&#xD;
		</string>
	<key>&#xD;
			NSFaceIDUsageDescription&#xD;
		</key>
	<string>&#xD;
			Enabling Face ID allows you quick and secure access to your account.&#xD;
		</string>
	<key>&#xD;
			CFBundleDisplayName&#xD;
		</key>
	<string>&#xD;
			FrostEcommerce&#xD;
		</string>
	<key>&#xD;
			CFBundleExecutable&#xD;
		</key>
	<string>&#xD;
			$(EXECUTABLE_NAME)&#xD;
		</string>
	<key>&#xD;
			CFBundleIdentifier&#xD;
		</key>
	<string>&#xD;
			$(PRODUCT_BUNDLE_IDENTIFIER)&#xD;
		</string>
	<key>&#xD;
			CFBundleInfoDictionaryVersion&#xD;
		</key>
	<string>&#xD;
			6.0&#xD;
		</string>
	<key>&#xD;
			CFBundleName&#xD;
		</key>
	<string>&#xD;
			$(PRODUCT_NAME)&#xD;
		</string>
	<key>&#xD;
			CFBundlePackageType&#xD;
		</key>
	<string>&#xD;
			APPL&#xD;
		</string>
	<key>&#xD;
			CFBundleShortVersionString&#xD;
		</key>
	<string>&#xD;
			$(MARKETING_VERSION)&#xD;
		</string>
	<key>&#xD;
			CFBundleSignature&#xD;
		</key>
	<string>&#xD;
			????&#xD;
		</string>
	<key>&#xD;
			CFBundleVersion&#xD;
		</key>
	<string>&#xD;
			$(CURRENT_PROJECT_VERSION)&#xD;
		</string>
	<key>&#xD;
			LSRequiresIPhoneOS&#xD;
		</key>
	<true/>
	<key>&#xD;
			NSAppTransportSecurity&#xD;
		</key>
	<dict>
		<key>&#xD;
				NSExceptionDomains&#xD;
			</key>
		<dict>
			<key>&#xD;
					localhost&#xD;
				</key>
			<dict>
				<key>&#xD;
						NSExceptionAllowsInsecureHTTPLoads&#xD;
					</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>&#xD;
			NSLocationWhenInUseUsageDescription&#xD;
		</key>
	<string>&#xD;
		</string>
	<key>&#xD;
			UILaunchStoryboardName&#xD;
		</key>
	<string>&#xD;
			LaunchScreen&#xD;
		</string>
	<key>&#xD;
			UIRequiredDeviceCapabilities&#xD;
		</key>
	<array>
		<string>&#xD;
				armv7&#xD;
			</string>
	</array>
	<key>&#xD;
			UISupportedInterfaceOrientations&#xD;
		</key>
	<array>
		<string>&#xD;
				UIInterfaceOrientationPortrait&#xD;
			</string>
		<string>&#xD;
				UIInterfaceOrientationLandscapeLeft&#xD;
			</string>
		<string>&#xD;
				UIInterfaceOrientationLandscapeRight&#xD;
			</string>
	</array>
	<key>&#xD;
			UIViewControllerBasedStatusBarAppearance&#xD;
		</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>SofiaSans-Black.ttf</string>
		<string>SofiaSans-BlackItalic.ttf</string>
		<string>SofiaSans-Bold.ttf</string>
		<string>SofiaSans-BoldItalic.ttf</string>
		<string>SofiaSans-ExtraBold.ttf</string>
		<string>SofiaSans-ExtraBoldItalic.ttf</string>
		<string>SofiaSans-ExtraLight.ttf</string>
		<string>SofiaSans-ExtraLightItalic.ttf</string>
		<string>SofiaSans-Italic.ttf</string>
		<string>SofiaSans-Light.ttf</string>
		<string>SofiaSans-LightItalic.ttf</string>
		<string>SofiaSans-Medium.ttf</string>
		<string>SofiaSans-MediumItalic.ttf</string>
		<string>SofiaSans-Regular.ttf</string>
		<string>SofiaSans-SemiBold.ttf</string>
		<string>SofiaSans-SemiBoldItalic.ttf</string>
		<string>SofiaSans-Thin.ttf</string>
		<string>SofiaSans-ThinItalic.ttf</string>
	</array>
</dict>
</plist>
